.songBrowser {
  display: flex;
  flex-direction: column;
}

.songBrowser .currentSong {
  align-items: center;
  justify-items: center;
}

.songBrowser .relatedSongs {
  align-items: flex-end;
  justify-items: flex-end;
}

.songBrowser .previousSongs {
  align-items: flex-start;
  justify-items: flex-start;
}
