.Navbar {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
