{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "overrides": [
      {
        "files": "*.{js,jsx,ts,tsx}",
        "options": {
          "tabWidth": 4
        }
      }
    ]
  }
  